{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Calendar App{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    {% endcompress %}
  </head>

  <body
    class="bg-white min-w-full min-h-lvh"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-ext="debug"
  >
    <div
      id="notification"
      class="fixed flex flex-col items-center justify-center w-full"
    ></div>

    {% block content %} {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/debug.js' %}"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"
    ></script>
  </body>
</html>
